<div class="container" *ngIf="table">
  <header class="controls">
    <button mat-button>{{ table?.title }}</button>
    <button mat-button>Workspace</button>
    <mat-slide-toggle [checked]="table?.isPrivate">
      {{ table?.isPrivate ? "Private" : "Public" }}
    </mat-slide-toggle>
    <button mat-button>Invite</button>
  </header>

  <main
    class="board"
    *ngIf="table"
    cdkDropList
    [cdkDropListData]="table.columns"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumn($event)"
  >
    <span class="column" *ngFor="let column of table.columns" cdkDrag>
      <div class="column-drag" cdkDragHandle>
        <h3
          class="column-title"
          *ngIf="columnEdition !== column"
          (click)="columnEdition = column"
        >
          {{ column.title }}
        </h3>
        <textarea
          #textArea
          appFocusOnShow
          *ngIf="columnEdition === column"
          class="column-title-edit"
          (blur)="changeColumnTitle(column, textArea.value)"
          (keyup.escape)="columnEdition = null"
          (keyup.enter)="changeColumnTitle(column, textArea.value)"
          >{{ column.title }}</textarea
        >

        <button
          #editColumnMenuTrigger="matMenuTrigger"
          class="column-drag-edit"
          [matMenuTriggerFor]="editColumnMenu"
          mat-icon-button
          aria-label="Edit column"
          [class.force-visible]="editColumnMenuTrigger.menuOpen"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #editColumnMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit name</span>
          </button>
          <button mat-menu-item (click)="arhieveColumn(table, column)">
            <mat-icon>archive</mat-icon>
            <span>Archive</span>
          </button>
        </mat-menu>
      </div>
      <div
        class="column-items"
        cdkDropList
        [cdkDropListData]="column"
        id="{{ column.id }}"
        [cdkDropListConnectedTo]="columnIds"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="item" *ngFor="let item of column.items" cdkDrag>
          <button
            #editItemMenuTrigger="matMenuTrigger"
            class="item-edit"
            [matMenuTriggerFor]="menu"
            mat-icon-button
            aria-label="Edit item"
            [class.force-visible]="editItemMenuTrigger.menuOpen"
          >
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delayedEditItemTitle(item)">
              <mat-icon>edit</mat-icon>
              <span>Edit name</span>
            </button>
            <button mat-menu-item (click)="arhieveItem(column, item)">
              <mat-icon>archive</mat-icon>
              <span>Archive</span>
            </button>
          </mat-menu>

          <span>
            <span class="item-title" *ngIf="itemEdition !== item">
              {{ item.title }}
            </span>
            <textarea
              #itemTitleEdit
              appFocusOnShow
              *ngIf="itemEdition === item"
              class="column-title-edit"
              (blur)="changeItemTitle(item, itemTitleEdit.value)"
              (keyup.escape)="itemEdition = null"
              (keyup.enter)="changeItemTitle(item, itemTitleEdit.value)"
              >{{ item.title }}</textarea
            >
          </span>
        </div>

        <button
          class="item-add"
          *ngIf="addItem === null || addItem != column"
          (click)="addItem = column"
          mat-icon-button
          aria-label="Add item"
        >
          <mat-icon>add</mat-icon>
        </button>
        <textarea
          #addItemTextArea
          appFocusOnShow
          *ngIf="addItem === column"
          (blur)="createItem(column, addItemTextArea.value)"
          (keyup.escape)="addItem = null"
          (keyup.enter)="createItem(column, addItemTextArea.value)"
        ></textarea>
      </div>
    </span>

    <span class="column">
      <button
        *ngIf="addColumn === null"
        (click)="addColumn = table"
        mat-icon-button
        aria-label="Add item"
      >
        <mat-icon>add</mat-icon>
        <span>Add column</span>
      </button>
      <textarea
        #addColumnTextArea
        appFocusOnShow
        *ngIf="addColumn === table"
        (blur)="createColumn(table, addColumnTextArea.value)"
        (keyup.escape)="addColumn = null"
        (keyup.enter)="createColumn(table, addColumnTextArea.value)"
      ></textarea>
    </span>
  </main>
</div>
